@font-face {
  font-family: 'ubuntu_mono';
  src: url('./assets/UbuntuMono-Regular.ttf');
}

:root {
  --color-primary: #172120;
  --color-secondary: rgba(255, 255, 255, 0.05);

  --border-radius: 12px;
  --border-radius-large: 24px;
}

body {
  font-family: 'ubuntu_mono';
}

body {
  background-color: var(--color-primary);
  color: white;
}

header {
  background-color: var(--color-secondary);
  border-bottom-left-radius: var(--border-radius-large);
  border-bottom-right-radius: var(--border-radius-large);
}

header .img-brand img {
  height: 40px;
}
header .img-brand span {
  font-size: 11px;
}
header .img-person img {
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius);
}

.menu-options .list-group-item {
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  color: white;
  text-align: center;
}