/* .page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
} */

footer {
  position: fixed;
  bottom: 0;
  background: var(--color-primary);
  background: linear-gradient(0deg, var(--color-primary) 80%, var(--color-primary) 100%);
}